.login {
  color: red;
  font-size: 24px;
  column-gap: 20px;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/images/timg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
